In [1]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine, text
import config

# update file paths below, if updating postgres

reviews_cleaned.csv may not push to git if over 100MB (the penultimate table here)

In [2]:
# define paths to csv files (update as needed)
# check folder, and month for each path
path_to_listings_detailed = "../raw_data/listings_detailed_2024_jun.csv"
path_to_listings_simple = "../raw_data/2024_jun/listings.csv"
path_to_reviews_pt1 = "../raw_data/reviews_detailed_2024_jun_pt1.csv"
path_to_reviews_pt2 = "../raw_data/reviews_detailed_2024_jun_pt2.csv"
path_to_calendar = "../raw_data/2024_jun/calendar.csv"

In [3]:
# connect to database
db_url = f"postgresql://postgres:{config.password}@localhost:5432/{config.database}"
engine = create_engine(db_url)

In [4]:
# function to load table into postgres db, save backup csv
def to_sql_and_csv(table_name, df):
    # write to csv
    df.to_csv(f"./{table_name}_cleaned.csv", index=False)
    # load into postgres db
    with engine.begin() as conn:
        conn.execute(text(f"DELETE FROM {table_name}"))
        df.to_sql(table_name, conn, if_exists="append", index=False)

In [5]:
# load schema into postgres db

# load sql schema, split by ; and run each statement
# to create tables in postgres
with engine.connect() as conn:
    with open("./schema_v2.0.sql", "r") as file:
        queries = file.read().split(";")
        for query in queries:
            # strip whitespace and ignore empty queries
            if query.strip() != "":
                conn.execute(text(query))
                conn.commit()


# confirm tables are created
with engine.connect() as conn:
    result = conn.execute(
        text(
            "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'"
        )
    )
    print(f"Tables in database: {result.fetchall()}")

Tables in database: [('host_listings_count',), ('neighbourhoods',), ('listings_categorical',), ('availability',), ('listing_reviews',), ('reviews',), ('calendar',), ('listings',), ('min_max_night',), ('hosts',), ('map_listings',)]

In [6]:
# load df
df = pd.read_csv(path_to_listings_detailed)
print(f"Number of rows: {len(df)}")
print(f"Shape: {df.shape}")
df.head()

Number of rows: 4928
Shape: (4928, 75)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,3686,https://www.airbnb.com/rooms/3686,20240621025859,2024-06-21,city scrape,Vita's Hideaway,IMPORTANT NOTES<br />* Carefully read and be s...,We love that our neighborhood is up and coming...,https://a0.muscache.com/pictures/61e02c7e-3d66...,4645,...,4.84,3.91,4.64,NaN,f,1,0,1,0,0.51
1,3943,https://www.airbnb.com/rooms/3943,20240621025859,2024-06-21,city scrape,Historic Rowhouse Near Monuments,You will be staying in high ceiling bedroom w...,This rowhouse is centrally located in the hear...,https://a0.muscache.com/pictures/airflow/Hosti...,5059,...,4.91,4.59,4.76,Hosted License: 5007242201001033,f,5,0,5,0,2.74
2,4197,https://www.airbnb.com/rooms/4197,20240621025859,2024-06-21,city scrape,Capitol Hill Bedroom walk to Metro,This is the middle bedroom upstairs in a resto...,"Our area, the Eastern Market neighborhood of C...",https://a0.muscache.com/pictures/miso/Hosting-...,5061,...,4.98,4.97,4.95,Hosted License: 5007242201000749,f,2,0,2,0,0.33
3,4529,https://www.airbnb.com/rooms/4529,20240621025859,2024-06-21,city scrape,Bertina's House Part One,This is large private bedroom with plenty of...,Very quiet neighborhood and it is easy accessi...,https://a0.muscache.com/pictures/86072003/6709...,5803,...,4.93,4.51,4.83,Exempt,f,2,0,2,0,0.56
4,5589,https://www.airbnb.com/rooms/5589,20240621025859,2024-06-21,previous scrape,Cozy apt in Adams Morgan,This is a 1 br (bedroom + living room in Adams...,"Adams Morgan spills over with hipsters, salsa ...",https://a0.muscache.com/pictures/miso/Hosting-...,6527,...,4.82,4.91,4.44,NaN,f,1,1,0,0,0.53

# hosts

In [7]:
hosts_df = df[
    [
        "host_id",
        "host_url",
        "host_name",
        "host_since",
        "host_location",
        "host_about",
        "host_response_time",
        "host_response_rate",
        "host_acceptance_rate",
        "host_is_superhost",
        "host_thumbnail_url",
        "host_picture_url",
        "host_neighbourhood",
        "host_listings_count",
        "host_total_listings_count",
        "host_verifications",
        "host_has_profile_pic",
        "host_identity_verified",
    ]
]
hosts_df.head()

,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified
0,4645,https://www.airbnb.com/users/show/4645,Vita,2008-11-26,"Washington D.C., DC","I am a literary scholar, teacher, poet, vegan ...",within a few hours,100%,100%,t,https://a0.muscache.com/im/pictures/user/User-...,https://a0.muscache.com/im/pictures/user/User-...,Anacostia,1,4,"['email', 'phone', 'work_email']",t,t
1,5059,https://www.airbnb.com/users/show/5059,Vasa,2008-12-12,"Washington, DC",I travel often and always try to immerse mysel...,within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/8ec69...,https://a0.muscache.com/im/pictures/user/8ec69...,Eckington,5,5,"['email', 'phone']",t,t
2,5061,https://www.airbnb.com/users/show/5061,Sandra,2008-12-12,"Washington D.C., DC",I’m a California native who came to work for t...,within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/93c77...,https://a0.muscache.com/im/pictures/user/93c77...,Capitol Hill,2,2,"['email', 'phone']",t,t
3,5803,https://www.airbnb.com/users/show/5803,Bertina,2008-12-30,"Washington, DC",I am a retried teacher. I enjoy walking and wa...,NaN,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/User-...,https://a0.muscache.com/im/pictures/user/User-...,Eastland Gardens,4,4,"['email', 'phone']",t,t
4,6527,https://www.airbnb.com/users/show/6527,Ami,2009-01-13,"Washington D.C., DC","I am an environmentalist, and I own and operat...",within an hour,100%,33%,f,https://a0.muscache.com/im/users/6527/profile_...,https://a0.muscache.com/im/users/6527/profile_...,Adams Morgan,2,4,"['email', 'phone', 'work_email']",t,t

In [8]:
# check datatypes
hosts_df.dtypes

host_id                       int64
host_url                     object
host_name                    object
host_since                   object
host_location                object
host_about                   object
host_response_time           object
host_response_rate           object
host_acceptance_rate         object
host_is_superhost            object
host_thumbnail_url           object
host_picture_url             object
host_neighbourhood           object
host_listings_count           int64
host_total_listings_count     int64
host_verifications           object
host_has_profile_pic         object
host_identity_verified       object
dtype: object

In [9]:
# drop duplicate rows (primary key is host_id)
hosts_df = hosts_df.drop_duplicates(subset=["host_id"])

# convert host_since to datetime
hosts_df.host_since = pd.to_datetime(hosts_df.host_since)

# convert host_response_rate and host_acceptance_rate to float
hosts_df.host_response_rate = hosts_df.host_response_rate.str.replace("%", "").astype(float)
hosts_df.host_acceptance_rate = hosts_df.host_acceptance_rate.str.replace("%", "").astype(float)

# convert host_is_superhost, host_has_profile_pic, host_identity_verified to boolean
columns_to_bool = [
    "host_is_superhost",
    "host_has_profile_pic",
    "host_identity_verified",
]

for column in columns_to_bool:
    hosts_df[column] = hosts_df[column].map({"t": True, "f": False}).astype(bool)

# check datatypes
hosts_df.dtypes

host_id                               int64
host_url                             object
host_name                            object
host_since                   datetime64[ns]
host_location                        object
host_about                           object
host_response_time                   object
host_response_rate                  float64
host_acceptance_rate                float64
host_is_superhost                      bool
host_thumbnail_url                   object
host_picture_url                     object
host_neighbourhood                   object
host_listings_count                   int64
host_total_listings_count             int64
host_verifications                   object
host_has_profile_pic                   bool
host_identity_verified                 bool
dtype: object

In [10]:
hosts_df.host_neighbourhood.value_counts()

host_neighbourhood
Northwest Washington                636
Northeast Washington                372
Capitol Hill                        170
Southeast Washington                154
Near Northeast/H Street Corridor     46
                                   ...
Good Hope                             1
University Heights                    1
Garfield Heights                      1
Greenway                              1
Potomac Yard                          1
Name: count, Length: 177, dtype: int64

In [11]:
# run save function
to_sql_and_csv("hosts", hosts_df)

# host_listings_count

In [12]:
hosts_lc_df = df[["host_id", "calculated_host_listings_count", "calculated_host_listings_count_entire_homes", "calculated_host_listings_count_private_rooms", "calculated_host_listings_count_shared_rooms"]]
hosts_lc_df.head()

,host_id,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,4645,1,0,1,0
1,5059,5,0,5,0
2,5061,2,0,2,0
3,5803,2,0,2,0
4,6527,1,1,0,0

In [13]:
# drop duplicate rows (primary key is host_id)
hosts_lc_df = hosts_lc_df.drop_duplicates(subset=["host_id"])

# rename columns
hosts_lc_df.rename(columns={"calculated_host_listings_count": "host_listings_total_count", "calculated_host_listings_count_entire_homes": "host_listings_entire_homes_count", "calculated_host_listings_count_private_rooms": "host_listings_private_rooms_count", "calculated_host_listings_count_shared_rooms": "host_listings_shared_rooms_count"}, inplace=True)
hosts_lc_df.columns

Index(['host_id', 'host_listings_total_count',
       'host_listings_entire_homes_count', 'host_listings_private_rooms_count',
       'host_listings_shared_rooms_count'],
      dtype='object')

In [14]:
hosts_lc_df.dtypes

host_id                              int64
host_listings_total_count            int64
host_listings_entire_homes_count     int64
host_listings_private_rooms_count    int64
host_listings_shared_rooms_count     int64
dtype: object

In [15]:
# run save function
to_sql_and_csv("host_listings_count", hosts_lc_df)

# neighbourhoods

In [16]:
# create table of unique neighbourhoods
neighbourhoods_df = pd.DataFrame(df.neighbourhood_cleansed.unique(), columns=["neighbourhood"]).reset_index()
neighbourhoods_df.rename(columns={"index": "neighbourhood_id"}, inplace=True)
neighbourhoods_df.head()

   neighbourhood_id                                      neighbourhood
0                 0                                 Historic Anacostia
1                 1  Edgewood, Bloomingdale, Truxton Circle, Eckington
2                 2                         Capitol Hill, Lincoln Park
3                 3                       Eastland Gardens, Kenilworth
4                 4     Kalorama Heights, Adams Morgan, Lanier Heights

In [17]:
neighbourhoods_df.dtypes

neighbourhood_id     int64
neighbourhood       object
dtype: object

In [18]:
# run save function
to_sql_and_csv("neighbourhoods", neighbourhoods_df)

# listings

In [19]:
listings_df = df[
    [
        "id",
        "host_id",
        "neighbourhood_cleansed",
        "latitude",
        "longitude",
        "accommodates",
        "bathrooms",
        "bedrooms",
        "beds",
        "price",
    ]
]
listings_df.head()

,id,host_id,neighbourhood_cleansed,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price
0,3686,4645,Historic Anacostia,38.86339,-76.98889,1,1.0,1.0,2.0,$67.00
1,3943,5059,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.91195,-77.00456,2,1.0,1.0,1.0,$82.00
2,4197,5061,"Capitol Hill, Lincoln Park",38.88719,-76.99472,1,1.5,1.0,1.0,$135.00
3,4529,5803,"Eastland Gardens, Kenilworth",38.90585,-76.94469,2,1.0,1.0,2.0,$66.00
4,5589,6527,"Kalorama Heights, Adams Morgan, Lanier Heights",38.91887,-77.04008,3,NaN,1.0,NaN,NaN

In [20]:
# rename id column
listings_df.rename(columns={"id": "listing_id"}, inplace=True)

# convert price to float
listings_df.price = listings_df.price.str.replace("$", "").str.replace(",", "").astype(float)

# merge neighbourhoods_df, drop neighbourhood_cleansed, neighbourhood
listings_df = pd.merge(listings_df, neighbourhoods_df, left_on="neighbourhood_cleansed", right_on="neighbourhood", how="left")
listings_df.drop(columns=["neighbourhood_cleansed", "neighbourhood"], inplace=True)

# reorganize columns
listings_df = listings_df[
    [
        "listing_id",
        "host_id",
        "neighbourhood_id",
        "latitude",
        "longitude",
        "accommodates",
        "bathrooms",
        "bedrooms",
        "beds",
        "price",
    ]
]

listings_df.head()

C:\Users\johbr\AppData\Local\Temp\ipykernel_26108\2504619521.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_df.rename(columns={"id": "listing_id"}, inplace=True)
C:\Users\johbr\AppData\Local\Temp\ipykernel_26108\2504619521.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_df.price = listings_df.price.str.replace("$", "").str.replace(",", "").astype(float)

,listing_id,host_id,neighbourhood_id,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price
0,3686,4645,0,38.86339,-76.98889,1,1.0,1.0,2.0,67.0
1,3943,5059,1,38.91195,-77.00456,2,1.0,1.0,1.0,82.0
2,4197,5061,2,38.88719,-76.99472,1,1.5,1.0,1.0,135.0
3,4529,5803,3,38.90585,-76.94469,2,1.0,1.0,2.0,66.0
4,5589,6527,4,38.91887,-77.04008,3,NaN,1.0,NaN,NaN

In [21]:
print(f"Number of price nulls: {listings_df.price.isnull().sum()}")

# set null as median price for each neighbourhood
listings_df['price'] = listings_df.groupby('neighbourhood_id')['price'].apply(lambda x: x.fillna(x.median())).reset_index(level=0, drop=True)

print(f"number of price nulls should be zero: {listings_df.price.isnull().sum()}")

Number of price nulls: 744
number of price nulls should be zero: 0

In [22]:
# Query the database to check for null values in the price column
with engine.connect() as conn:
    result = conn.execute(
        text(
            "SELECT COUNT(*) FROM listings WHERE price IS NULL"
        )
    )
    null_count = result.fetchone()[0]
    print(f"Number of null values in the price column: {null_count}")

# Query the database to fetch some price values for a few neighborhoods
with engine.connect() as conn:
    result = conn.execute(
        text(
            """
            SELECT neighbourhood_id, price
            FROM listings
            WHERE neighbourhood_id IN (
                SELECT neighbourhood_id
                FROM listings
                GROUP BY neighbourhood_id
                ORDER BY COUNT(*) DESC
                LIMIT 5
            )
            ORDER BY neighbourhood_id, price
            LIMIT 100
            """
        )
    )
    rows = result.fetchall()
    for row in rows:
        print(row)

Number of null values in the price column: 0

In [23]:
listings_df.dtypes

listing_id            int64
host_id               int64
neighbourhood_id      int64
latitude            float64
longitude           float64
accommodates          int64
bathrooms           float64
bedrooms            float64
beds                float64
price               float64
dtype: object

In [24]:
# run save function
to_sql_and_csv("listings", listings_df)

# listings_categorical

In [25]:
listings_categorical_df = df[[
    "id",
    "name",
    "description",
    "listing_url",
    "neighborhood_overview",
    "picture_url",
    "property_type",
    "room_type",
    "amenities",
    "bathrooms_text",
    "license",        
]]

listings_categorical_df.head()

,id,name,description,listing_url,neighborhood_overview,picture_url,property_type,room_type,amenities,bathrooms_text,license
0,3686,Vita's Hideaway,IMPORTANT NOTES<br />* Carefully read and be s...,https://www.airbnb.com/rooms/3686,We love that our neighborhood is up and coming...,https://a0.muscache.com/pictures/61e02c7e-3d66...,Private room in home,Private room,"[""Backyard"", ""Wifi"", ""Carbon monoxide alarm"", ...",1 private bath,NaN
1,3943,Historic Rowhouse Near Monuments,You will be staying in high ceiling bedroom w...,https://www.airbnb.com/rooms/3943,This rowhouse is centrally located in the hear...,https://a0.muscache.com/pictures/airflow/Hosti...,Private room in townhouse,Private room,"[""Blender"", ""Exercise equipment: yoga mat"", ""D...",1 private bath,Hosted License: 5007242201001033
2,4197,Capitol Hill Bedroom walk to Metro,This is the middle bedroom upstairs in a resto...,https://www.airbnb.com/rooms/4197,"Our area, the Eastern Market neighborhood of C...",https://a0.muscache.com/pictures/miso/Hosting-...,Private room in home,Private room,"[""Dedicated workspace"", ""Indoor fireplace: woo...",1.5 shared baths,Hosted License: 5007242201000749
3,4529,Bertina's House Part One,This is large private bedroom with plenty of...,https://www.airbnb.com/rooms/4529,Very quiet neighborhood and it is easy accessi...,https://a0.muscache.com/pictures/86072003/6709...,Private room in home,Private room,"[""Backyard"", ""Dedicated workspace"", ""Gym"", ""Wi...",1 private bath,Exempt
4,5589,Cozy apt in Adams Morgan,This is a 1 br (bedroom + living room in Adams...,https://www.airbnb.com/rooms/5589,"Adams Morgan spills over with hipsters, salsa ...",https://a0.muscache.com/pictures/miso/Hosting-...,Entire rental unit,Entire home/apt,"[""Dedicated workspace"", ""Indoor fireplace: woo...",1 bath,NaN

In [26]:
# rename columns
listings_categorical_df.rename(columns={"id": "listing_id", "name": "listing_name"}, inplace=True)

# open listing_simple.csv
listing_simple_df = pd.read_csv(path_to_listings_simple)
listing_simple_df = listing_simple_df[['id', 'name']]
listing_simple_df.rename(columns={"id": "listing_id", "name": "hover_description"}, inplace=True)

# merge with listings_categorical_df
listings_categorical_df = pd.merge(listings_categorical_df, listing_simple_df, on="listing_id", how="left")

# reorganize columns
listings_categorical_df = listings_categorical_df[
    [
        "listing_id",
        "listing_name",
        "hover_description",
        "description",
        "listing_url",
        "neighborhood_overview",
        "picture_url",
        "property_type",
        "room_type",
        "amenities",
        "bathrooms_text",
        "license",
    ]
]

listings_categorical_df.head()

C:\Users\johbr\AppData\Local\Temp\ipykernel_26108\2863804353.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_categorical_df.rename(columns={"id": "listing_id", "name": "listing_name"}, inplace=True)

,listing_id,listing_name,hover_description,description,listing_url,neighborhood_overview,picture_url,property_type,room_type,amenities,bathrooms_text,license
0,3686,Vita's Hideaway,Vita's Hideaway,IMPORTANT NOTES<br />* Carefully read and be s...,https://www.airbnb.com/rooms/3686,We love that our neighborhood is up and coming...,https://a0.muscache.com/pictures/61e02c7e-3d66...,Private room in home,Private room,"[""Backyard"", ""Wifi"", ""Carbon monoxide alarm"", ...",1 private bath,NaN
1,3943,Historic Rowhouse Near Monuments,Historic Rowhouse Near Monuments,You will be staying in high ceiling bedroom w...,https://www.airbnb.com/rooms/3943,This rowhouse is centrally located in the hear...,https://a0.muscache.com/pictures/airflow/Hosti...,Private room in townhouse,Private room,"[""Blender"", ""Exercise equipment: yoga mat"", ""D...",1 private bath,Hosted License: 5007242201001033
2,4197,Capitol Hill Bedroom walk to Metro,Capitol Hill Bedroom walk to Metro,This is the middle bedroom upstairs in a resto...,https://www.airbnb.com/rooms/4197,"Our area, the Eastern Market neighborhood of C...",https://a0.muscache.com/pictures/miso/Hosting-...,Private room in home,Private room,"[""Dedicated workspace"", ""Indoor fireplace: woo...",1.5 shared baths,Hosted License: 5007242201000749
3,4529,Bertina's House Part One,Bertina's House Part One,This is large private bedroom with plenty of...,https://www.airbnb.com/rooms/4529,Very quiet neighborhood and it is easy accessi...,https://a0.muscache.com/pictures/86072003/6709...,Private room in home,Private room,"[""Backyard"", ""Dedicated workspace"", ""Gym"", ""Wi...",1 private bath,Exempt
4,5589,Cozy apt in Adams Morgan,Cozy apt in Adams Morgan,This is a 1 br (bedroom + living room in Adams...,https://www.airbnb.com/rooms/5589,"Adams Morgan spills over with hipsters, salsa ...",https://a0.muscache.com/pictures/miso/Hosting-...,Entire rental unit,Entire home/apt,"[""Dedicated workspace"", ""Indoor fireplace: woo...",1 bath,NaN

In [27]:
listings_categorical_df.dtypes

listing_id                int64
listing_name             object
hover_description        object
description              object
listing_url              object
neighborhood_overview    object
picture_url              object
property_type            object
room_type                object
amenities                object
bathrooms_text           object
license                  object
dtype: object

In [28]:
# run save function
to_sql_and_csv("listings_categorical", listings_categorical_df)

# availability

In [29]:
availability_df = df[["id", "has_availability", "availability_30", "availability_60", "availability_90", "availability_365", "calendar_last_scraped", "instant_bookable"]]
availability_df.head()

,id,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,instant_bookable
0,3686,t,0,16,46,321,2024-06-21,f
1,3943,t,11,19,45,313,2024-06-21,f
2,4197,t,14,42,60,335,2024-06-21,f
3,4529,t,29,59,89,179,2024-06-21,f
4,5589,t,0,0,0,10,2024-06-21,f

In [30]:
# rename columns
availability_df.rename(columns={"id": "listing_id"}, inplace=True)

# convert has_availability, instant_bookable to boolean
columns_to_bool = ["has_availability", "instant_bookable"]

for column in columns_to_bool:
    availability_df[column] = availability_df[column].map({"t": True, "f": False}).astype(bool)
    
# convert calendar_last_scraped to datetime
availability_df.calendar_last_scraped = pd.to_datetime(availability_df.calendar_last_scraped)

availability_df.dtypes

C:\Users\johbr\AppData\Local\Temp\ipykernel_26108\1790045905.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  availability_df.rename(columns={"id": "listing_id"}, inplace=True)
C:\Users\johbr\AppData\Local\Temp\ipykernel_26108\1790045905.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  availability_df[column] = availability_df[column].map({"t": True, "f": False}).astype(bool)
C:\Users\johbr\AppData\Local\Temp\ipykernel_26108\1790045905.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  availability_df[column] = availability_df[column].map({"t": True, "f": False}).astype(bool)
C:\Users\johbr\AppData\Local\Temp\ipykernel_26108\1790045905.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  availability_df.calendar_last_scraped = pd.to_datetime(availability_df.calendar_last_scraped)

listing_id                        int64
has_availability                   bool
availability_30                   int64
availability_60                   int64
availability_90                   int64
availability_365                  int64
calendar_last_scraped    datetime64[ns]
instant_bookable                   bool
dtype: object

In [31]:
# run save function
to_sql_and_csv("availability", availability_df)

# min_max_night

In [32]:
min_max_night_df = df[["id", "minimum_nights", "maximum_nights", "minimum_minimum_nights", "maximum_minimum_nights", "minimum_maximum_nights", "maximum_maximum_nights", "minimum_nights_avg_ntm", "maximum_nights_avg_ntm"]]
min_max_night_df.head()

,id,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm
0,3686,31,365,31,31,365,365,31.0,365.0
1,3943,1,1125,1,1,1125,1125,1.0,1125.0
2,4197,7,1125,7,7,1125,1125,7.0,1125.0
3,4529,30,1125,30,30,1125,1125,30.0,1125.0
4,5589,31,45,31,31,45,45,31.0,45.0

In [33]:
# rename column
min_max_night_df.rename(columns={"id": "listing_id"}, inplace=True)

min_max_night_df.dtypes

C:\Users\johbr\AppData\Local\Temp\ipykernel_26108\841918367.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  min_max_night_df.rename(columns={"id": "listing_id"}, inplace=True)

listing_id                  int64
minimum_nights              int64
maximum_nights              int64
minimum_minimum_nights      int64
maximum_minimum_nights      int64
minimum_maximum_nights      int64
maximum_maximum_nights      int64
minimum_nights_avg_ntm    float64
maximum_nights_avg_ntm    float64
dtype: object

In [34]:
# run save function
to_sql_and_csv("min_max_night", min_max_night_df)

# listing_reviews

In [35]:
listing_reviews_df = df[
    [
        "id",
        "number_of_reviews",
        "number_of_reviews_ltm",
        "number_of_reviews_l30d",
        "first_review",
        "last_review",
        "review_scores_rating",
        "review_scores_accuracy",
        "review_scores_cleanliness",
        "review_scores_checkin",
        "review_scores_communication",
        "review_scores_location",
        "reviews_per_month",
        "review_scores_value",
    ]
]
listing_reviews_df.head()

,id,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,reviews_per_month,review_scores_value
0,3686,84,2,0,2010-11-01,2023-08-30,4.64,4.73,4.45,4.91,4.84,3.91,0.51,4.64
1,3943,504,34,3,2009-05-10,2024-06-09,4.85,4.89,4.92,4.94,4.91,4.59,2.74,4.76
2,4197,61,8,2,2009-05-14,2024-06-09,4.86,4.98,4.88,5.00,4.98,4.97,0.33,4.95
3,4529,102,0,0,2009-08-08,2019-07-05,4.66,4.80,4.60,4.93,4.93,4.51,0.56,4.83
4,5589,96,1,0,2009-09-22,2023-08-17,4.50,4.71,4.13,4.82,4.82,4.91,0.53,4.44

In [36]:
listing_reviews_df.dtypes

id                               int64
number_of_reviews                int64
number_of_reviews_ltm            int64
number_of_reviews_l30d           int64
first_review                    object
last_review                     object
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
reviews_per_month              float64
review_scores_value            float64
dtype: object

In [37]:
# rename column
listing_reviews_df.rename(columns={"id": "listing_id"}, inplace=True)

# convert first_review and last_review to datetime
listing_reviews_df = listing_reviews_df.assign(
    first_review=pd.to_datetime(listing_reviews_df["first_review"]),
    last_review=pd.to_datetime(listing_reviews_df["last_review"]),
)

listing_reviews_df.dtypes

C:\Users\johbr\AppData\Local\Temp\ipykernel_26108\3894488547.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_reviews_df.rename(columns={"id": "listing_id"}, inplace=True)

listing_id                              int64
number_of_reviews                       int64
number_of_reviews_ltm                   int64
number_of_reviews_l30d                  int64
first_review                   datetime64[ns]
last_review                    datetime64[ns]
review_scores_rating                  float64
review_scores_accuracy                float64
review_scores_cleanliness             float64
review_scores_checkin                 float64
review_scores_communication           float64
review_scores_location                float64
reviews_per_month                     float64
review_scores_value                   float64
dtype: object

In [38]:
# run save function
to_sql_and_csv("listing_reviews", listing_reviews_df)

# reviews

In [39]:
# read in csv
reviews_pt1 = pd.read_csv(path_to_reviews_pt1)
reviews_pt2 = pd.read_csv(path_to_reviews_pt2)
reviews_df = pd.concat([reviews_pt1, reviews_pt2])
reviews_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,3686,131293,2010-11-01,257234,Callie,Staying with Levita and her wonderful family w...
1,32087,567384,2011-09-25,1192632,Sven,"Very accommodating host, curteous, beautiful l..."
2,32087,1708259,2012-07-14,1321181,Michael,Excellent! Will definitely stay here again. Gr...
3,32087,5389855,2013-06-27,4642537,Yve,Staying at American Guest House was the best d...
4,32087,11115970,2014-03-21,12842454,Crystal,The guest house was very nice - most comfortab...

In [40]:
# change date to datetime
reviews_df["date"] = pd.to_datetime(reviews_df["date"])

# change column names
reviews_df.rename(
    columns={"id": "review_id", "date": "review_date", "comments": "review_comments"},
    inplace=True,
)

# reorder columns, drop comments as unnecessary and space-consuming
reviews_df = reviews_df[
    [
        "review_id",
        "listing_id",
        "review_date",
        "reviewer_id",
        "reviewer_name",
        "review_comments",
    ]
]

# filter out reviews where listing_id is not in listings_df
# otherwise it'll trip a foreign key constraint
reviews_df = reviews_df[reviews_df["listing_id"].isin(listings_df["listing_id"])]

reviews_df.dtypes

review_id                   int64
listing_id                  int64
review_date        datetime64[ns]
reviewer_id                 int64
reviewer_name              object
review_comments            object
dtype: object

In [41]:
# count duplicates (entire rows and subset)
duplicate_count = reviews_df.duplicated().sum()
duplicate_count_specific = reviews_df.duplicated(subset='review_id').sum()

print(f"Total duplicate rows: {duplicate_count}")
print(f"Total duplicate rows based on 'review_id': {duplicate_count_specific}")

# remove duplicates based on 'review_id'
reviews_df = reviews_df.drop_duplicates(subset='review_id', keep='first')

Total duplicate rows: 0
Total duplicate rows based on 'review_id': 88

In [42]:
# run save function
to_sql_and_csv("reviews", reviews_df)

# calendar

In [43]:
calendar_df = pd.read_csv(path_to_calendar)
calendar_df.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,3686,2024-06-21,f,$67.00,NaN,31,365
1,3686,2024-06-22,f,$67.00,NaN,31,365
2,3686,2024-06-23,f,$67.00,NaN,31,365
3,3686,2024-06-24,f,$67.00,NaN,31,365
4,3686,2024-06-25,f,$67.00,NaN,31,365

In [44]:
# drop rows not in listings_df
calendar_df = calendar_df[calendar_df["listing_id"].isin(listings_df["listing_id"])]

# drop empty column
calendar_df.drop(columns=["adjusted_price"], inplace=True)

# convert date to datetime
calendar_df["date"] = pd.to_datetime(calendar_df["date"])

# convert available to boolean
calendar_df["available"] = (
    calendar_df["available"].map({"t": True, "f": False}).astype("boolean")
)

# convert price to float
calendar_df["price"] = (
    calendar_df["price"].str.replace("$", "").str.replace(",", "").astype(float)
)

# add an index column, called num
calendar_df.reset_index(inplace=True)
calendar_df.rename(columns={"index": "id"}, inplace=True)

calendar_df.dtypes

id                         int64
listing_id                 int64
date              datetime64[ns]
available                boolean
price                    float64
minimum_nights             int64
maximum_nights             int64
dtype: object

In [45]:
# run save function
to_sql_and_csv("calendar", calendar_df)

# calendar adds 110MB

# reviews.comments is 85MB

In [46]:
# analyze and reindex data
# overachieving
with engine.connect() as conn:
    with open("./schema_post_v2.0.sql", "r") as file:
        queries = file.read().split(";")
        for query in queries:
            # strip whitespace and ignore empty queries
            if query.strip() != "":
                conn.execute(text(query))
                conn.commit()

# Don't forget to VACUUM FULL;