In [51]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine, text
import config

In [52]:
# connect to database
db_url = f"postgresql://postgres:{config.password}@localhost:5432/{config.database}"
engine = create_engine(db_url)

In [53]:
# function to load table into postgres db, save backup csv
def to_sql_and_csv(table_name, df):
    # write to csv
    df.to_csv(f"./{table_name}_cleaned.csv", index=False)
    # load into postgres db
    with engine.begin() as conn:
        conn.execute(text(f"DELETE FROM {table_name}"))
        df.to_sql(table_name, conn, if_exists="append", index=False)

In [54]:
# load schema into postgres db

# load sql schema, split by ; and run each statement
# to create tables in postgres
with engine.connect() as conn:
    with open("./schema_v2.0.sql", "r") as file:
        queries = file.read().split(";")
        for query in queries:
            # strip whitespace and ignore empty queries
            if query.strip() != "":
                conn.execute(text(query))
                conn.commit()


# confirm tables are created
with engine.connect() as conn:
    result = conn.execute(
        text(
            "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'"
        )
    )
    print(f"Tables in database: {result.fetchall()}")

Tables in database: [('hosts',), ('neighbourhoods',), ('availability',), ('listing_reviews',), ('reviews',), ('calendar',), ('host_listings_count',), ('listings',), ('listings_categorical',), ('min_max_night',)]

In [55]:
# load df
df = pd.read_csv("../raw_data/listings_detailed_2024_mar.csv")
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,3686,https://www.airbnb.com/rooms/3686,20230913045152,2023-09-13,city scrape,Home in Washington · ★4.64 · 1 bedroom · 1 bed...,IMPORTANT NOTES<br />* Carefully read and be s...,We love that our neighborhood is up and coming...,https://a0.muscache.com/pictures/61e02c7e-3d66...,4645,...,4.84,3.89,4.63,NaN,f,1,0,1,0,0.53
1,3943,https://www.airbnb.com/rooms/3943,20230913045152,2023-09-13,city scrape,Townhouse in Washington · ★4.83 · 1 bedroom · ...,You will be staying in high ceiling bedroom w...,This rowhouse is centrally located in the hear...,https://a0.muscache.com/pictures/airflow/Hosti...,5059,...,4.91,4.57,4.75,Hosted License: 5007242201001033,f,5,0,5,0,2.75
2,4197,https://www.airbnb.com/rooms/4197,20230913045152,2023-09-13,city scrape,Home in Washington · ★4.85 · 1 bedroom · 1 bed...,This is the middle bedroom upstairs in a resto...,"Our area, the Eastern Market neighborhood of C...",https://a0.muscache.com/pictures/miso/Hosting-...,5061,...,4.98,4.96,4.94,Hosted License: 5007242201000749,f,2,0,2,0,0.32
3,4529,https://www.airbnb.com/rooms/4529,20230913045152,2023-09-13,city scrape,Home in Washington · ★4.66 · 1 bedroom · 1 bed...,This is large private bedroom with plenty of...,Very quiet neighborhood and it is easy accessi...,https://a0.muscache.com/pictures/86072003/6709...,5803,...,4.93,4.51,4.83,Exempt,f,1,0,1,0,0.59
4,4967,https://www.airbnb.com/rooms/4967,20230913045152,2023-09-13,previous scrape,Home in Washington · ★4.74 · 1 bedroom · 1 bed...,"<b>The space</b><br />Hello, my name is Seveer...",NaN,https://a0.muscache.com/pictures/2439810/bb320...,7086,...,4.93,4.21,4.64,NaN,f,3,0,3,0,0.20

# hosts

In [56]:
hosts_df = df[
    [
        "host_id",
        "host_url",
        "host_name",
        "host_since",
        "host_location",
        "host_about",
        "host_response_time",
        "host_response_rate",
        "host_acceptance_rate",
        "host_is_superhost",
        "host_thumbnail_url",
        "host_picture_url",
        "host_neighbourhood",
        "host_listings_count",
        "host_total_listings_count",
        "host_verifications",
        "host_has_profile_pic",
        "host_identity_verified",
    ]
]
hosts_df.head()

,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified
0,4645,https://www.airbnb.com/users/show/4645,Vita,2008-11-26,"Washington D.C., DC","I am a literary scholar, teacher, poet, vegan ...",within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/User-...,https://a0.muscache.com/im/pictures/user/User-...,Anacostia,1,4,"['email', 'phone', 'work_email']",t,t
1,5059,https://www.airbnb.com/users/show/5059,Vasa,2008-12-12,"Washington, DC",I travel often and always try to immerse mysel...,within an hour,100%,92%,t,https://a0.muscache.com/im/pictures/user/8ec69...,https://a0.muscache.com/im/pictures/user/8ec69...,Eckington,5,5,"['email', 'phone']",t,t
2,5061,https://www.airbnb.com/users/show/5061,Sandra,2008-12-12,"Washington D.C., DC",I’m a California native who came to work for t...,within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/93c77...,https://a0.muscache.com/im/pictures/user/93c77...,Capitol Hill,2,2,"['email', 'phone']",t,t
3,5803,https://www.airbnb.com/users/show/5803,Bertina,2008-12-30,"Washington, DC",I am a retried teacher. I enjoy walking and wa...,NaN,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/0050a...,https://a0.muscache.com/im/pictures/user/0050a...,Eastland Gardens,3,4,"['email', 'phone']",t,t
4,7086,https://www.airbnb.com/users/show/7086,Edward,2009-01-26,NaN,"I am fun, honest and very easy going and trave...",within a few hours,100%,95%,t,https://a0.muscache.com/im/pictures/user/6efb4...,https://a0.muscache.com/im/pictures/user/6efb4...,Ivy City,3,5,"['email', 'phone']",t,t

In [57]:
# check datatypes
hosts_df.dtypes

host_id                       int64
host_url                     object
host_name                    object
host_since                   object
host_location                object
host_about                   object
host_response_time           object
host_response_rate           object
host_acceptance_rate         object
host_is_superhost            object
host_thumbnail_url           object
host_picture_url             object
host_neighbourhood           object
host_listings_count           int64
host_total_listings_count     int64
host_verifications           object
host_has_profile_pic         object
host_identity_verified       object
dtype: object

In [58]:
# drop duplicate rows (primary key is host_id)
hosts_df = hosts_df.drop_duplicates(subset=["host_id"])

# convert host_since to datetime
hosts_df.host_since = pd.to_datetime(hosts_df.host_since)

# convert host_response_rate and host_acceptance_rate to float
hosts_df.host_response_rate = hosts_df.host_response_rate.str.replace("%", "").astype(float)
hosts_df.host_acceptance_rate = hosts_df.host_acceptance_rate.str.replace("%", "").astype(float)

# convert host_is_superhost, host_has_profile_pic, host_identity_verified to boolean
columns_to_bool = [
    "host_is_superhost",
    "host_has_profile_pic",
    "host_identity_verified",
]

for column in columns_to_bool:
    hosts_df[column] = hosts_df[column].map({"t": True, "f": False}).astype(bool)

# check datatypes
hosts_df.dtypes

host_id                               int64
host_url                             object
host_name                            object
host_since                   datetime64[ns]
host_location                        object
host_about                           object
host_response_time                   object
host_response_rate                  float64
host_acceptance_rate                float64
host_is_superhost                      bool
host_thumbnail_url                   object
host_picture_url                     object
host_neighbourhood                   object
host_listings_count                   int64
host_total_listings_count             int64
host_verifications                   object
host_has_profile_pic                   bool
host_identity_verified                 bool
dtype: object

In [59]:
hosts_df.host_neighbourhood.value_counts()

host_neighbourhood
Northwest Washington                688
Northeast Washington                438
Capitol Hill                        243
Southeast Washington                152
Near Northeast/H Street Corridor     84
                                   ...
Redwood City                          1
Financial District                    1
Waikiki                               1
Mid-Wilshire                          1
East Ocean View                       1
Name: count, Length: 199, dtype: int64

In [60]:
# run save function
to_sql_and_csv("hosts", hosts_df)

# host_listings_count

In [61]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [62]:
hosts_lc_df = df[["host_id", "calculated_host_listings_count", "calculated_host_listings_count_entire_homes", "calculated_host_listings_count_private_rooms", "calculated_host_listings_count_shared_rooms"]]
hosts_lc_df.head()

,host_id,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,4645,1,0,1,0
1,5059,5,0,5,0
2,5061,2,0,2,0
3,5803,1,0,1,0
4,7086,3,0,3,0

In [63]:
# drop duplicate rows (primary key is host_id)
hosts_lc_df = hosts_lc_df.drop_duplicates(subset=["host_id"])

# rename columns
hosts_lc_df.rename(columns={"calculated_host_listings_count": "host_listings_total_count", "calculated_host_listings_count_entire_homes": "host_listings_entire_homes_count", "calculated_host_listings_count_private_rooms": "host_listings_private_rooms_count", "calculated_host_listings_count_shared_rooms": "host_listings_shared_rooms_count"}, inplace=True)
hosts_lc_df.columns

Index(['host_id', 'host_listings_total_count',
       'host_listings_entire_homes_count', 'host_listings_private_rooms_count',
       'host_listings_shared_rooms_count'],
      dtype='object')

In [64]:
hosts_lc_df.dtypes

host_id                              int64
host_listings_total_count            int64
host_listings_entire_homes_count     int64
host_listings_private_rooms_count    int64
host_listings_shared_rooms_count     int64
dtype: object

In [65]:
# run save function
to_sql_and_csv("host_listings_count", hosts_lc_df)

# neighbourhood

In [66]:
# create table of unique neighbourhoods
neighbourhoods_df = pd.DataFrame(df.neighbourhood_cleansed.unique(), columns=["neighbourhood"], index=range(1, len(df.neighbourhood_cleansed.unique()) + 1))
neighbourhoods_df.head()

                                       neighbourhood
1                                 Historic Anacostia
2  Edgewood, Bloomingdale, Truxton Circle, Eckington
3                         Capitol Hill, Lincoln Park
4                       Eastland Gardens, Kenilworth
5     Ivy City, Arboretum, Trinidad, Carver Langston

# listings