Splits csv's in half. For csv's over 100MB, too large to push to github

In [5]:
# import dependencies
import pandas as pd

# load csv
df = pd.read_csv('./reviews.csv')
print(f"Lenght of df: {len(df)}")

# find middle
midpoint = len(df) // 2

# split csv in half
first_half = df.iloc[:midpoint]
second_half = df.iloc[midpoint:]

# export each half
first_half.to_csv('./reviews_detailed_2024_jun_pt1.csv', index=False)
second_half.to_csv('./reviews_detailed_2024_jun_pt2.csv', index=False)

Lenght of df: 351177

Use length of df to double check it worked

In [6]:
# put csv back together
df = pd.concat([first_half, second_half])
df

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,3686,131293,2010-11-01,257234,Callie,Staying with Levita and her wonderful family w...
1,32087,567384,2011-09-25,1192632,Sven,"Very accommodating host, curteous, beautiful l..."
2,32087,1708259,2012-07-14,1321181,Michael,Excellent! Will definitely stay here again. Gr...
3,32087,5389855,2013-06-27,4642537,Yve,Staying at American Guest House was the best d...
4,32087,11115970,2014-03-21,12842454,Crystal,The guest house was very nice - most comfortab...
...,...,...,...,...,...,...
351172,1174782697171003169,1178304081439381327,2024-06-13,260392520,Seth,Very comfortable stay near Capitol Hill! The h...
351173,1174847263231173602,1181183266910934958,2024-06-17,578851605,Wentao,"MoniQua is very responsive and helpful, the un..."
351174,1176086612220639801,1180481549453362443,2024-06-16,215964473,Tanya,I loved everything about this adorable apartme...
351175,1176908072393623018,1180471050508107267,2024-06-16,275124195,Deepak,Great location and cozy place!
351176,1181139419019066786,1183360289640553960,2024-06-20,436681818,Hector,Mi familia y yo viajamos a Washington DC por u...

In [7]:
len(first_half) + len(second_half)

351177